[Unit]
Description=Procnet eBPF network-usage daemon
Documentation=https://github.com/sergiovazquezz/procnet
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/procnetd
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
